@import "base";
@import "responsive";
body {
  background: $bg;
  overflow-x: hidden;
}
header {
  @extend %d-between;
  width: 80%;
  margin: 15px auto;
  .top-bg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 310px;
    z-index: -1;
    background-color: $top-bg;
  }
  .logo {
    &__total-follow {
      font: normal 400 normal 1.1rem/0 "Inter", sans-serif;
      color: $p;
    }
  }
  label {
    @extend %d-between;
    width: 15%;
    h3 {
      font: normal bold normal 1rem "Inter", sans-serif;
      color: $p;
    }
    input[type="checkbox"] {
      -webkit-appearance: none;
      visibility: hidden;
      display: none;

      &:checked ~ .check {
        background: linear-gradient(to left, $checked);
      }
      &:checked ~ .check:before {
        transform: translateX(-2.8vw);
        background-color: hsl(230, 17%, 14%);
      }
    }
    .check {
      @include width-and-height(5vw, 2vw);
      position: relative;
      display: block;
      background: $bodyCheckbox;
      cursor: pointer;
      border-radius: 20px;
      transition: ease-in 0.5s;
      &:before {
        content: "";
        @include width-and-height(35%, 80%);
        position: absolute;
        top: 8%;
        right: 3px;
        background: $checkbox;
        border-radius: 50%;
        transition: 0.5s;
      }
    }
  }
}

.container {
  @extend %d-evenly-and-wrap;
  width: 82%;
  margin: 40px auto;
  .card {
    @include width-and-height(23%, 280px);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $card;
    margin: 0 8px;
    cursor: pointer;
    transition: 0.3s ease-in;
    &:hover {
      background-color: $hover;
    }
    &:nth-child(1) {
      border-top: 5px solid $top-card1;
    }
    &:nth-child(2) {
      border-top: 5px solid $top-card2;
    }
    &:nth-child(3) {
      position: relative;
      height: 285px;
      &::after {
        content: "";
        @include width-and-height(100%, 5px);
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right, $top-card3);
      }
    }
    &:nth-child(4) {
      border-top: 5px solid $top-card4;
    }
    &-header {
      @extend %d-center;
      margin-top: 20px;
      width: 100%;
      color: hsl(230, 17%, 14%);
      font: normal bold normal 1rem/0 "Inter", sans-serif;
      img {
        padding-right: 5px;
      }
    }
    &-body {
      @extend %d-center;
      flex-direction: column;
      @include width-and-height(100%, 170px);

      h2 {
        font: normal bold normal 4.2rem/0 "Inter", sans-serif;
      }
      p {
        position: relative;
        bottom: 22px;
      }
    }
    &-footer {
      @extend %d-center;
      position: absolute;
      bottom: 10%;
      width: 100%;

      .green {
        color: $green;
      }
      .red {
        color: $red;
      }
      img {
        height: 8px;
        padding-right: 5px;
      }
    }
  }
  .title-overview {
    width: 98%;
    margin: 40px 0;
    font: normal bold normal 1.8rem "Inter", sans-serif;
    letter-spacing: 1.1px;
    color: $p;
  }
  .overview {
    @extend %d-center;
    flex-direction: column;
    @include width-and-height(23%, 130px);
    margin: 10px;
    background-color: $card;
    cursor: pointer;
    transition: 0.3s ease-in;
    &:hover {
      background-color: $hover;
    }
    &-header,
    &-body {
      @extend %d-between;
      @include width-and-height(80%, 50%);
      img {
        height: 22px;
      }
    }
    &-header {
      p {
        font: normal bold normal 1rem "Inter", sans-serif;
      }
    }
    &-body {
      .likes {
        font: normal bold normal 2rem "Inter", sans-serif;
        color: hsl(230, 17%, 14%);
      }

      .red {
        color: $red;
      }
      .green {
        color: $green;
      }
    }
    .porcentagem {
      @extend %d-end;
      width: 50%;
      img {
        height: 8px;
        padding-right: 5px;
      }
    }
  }
}
